* {
    font-family: "Poppins", sans-serif;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}


.logOutBtn {
    background-color: red;
    padding: 12px;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 15px;
}

.logOutBtn:hover {
    background-color: rgb(109, 3, 3);
    cursor: pointer;
}

.addnewpost {
    width: 90%;
    margin:20px auto;
    display: flex;

}

.addnewpost h2{
    color: rgb(2, 71, 88);
}

#post-text {
    padding: 10px;
    font-size: 14;
   

}

#image-url {
    padding: 10px;
    margin-bottom: 10px;


}



#postBtn {
    width: 100px;
    padding: 10px;
    background-color: rgb(6, 141, 107);
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 10px;
}

#postBtn:hover {
    background-color: rgb(2, 73, 70);
    transition: 1s;
    cursor: pointer;
}

.addPost {
    background-color: rgb(6, 137, 160);
    padding: 12px;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 15px;
}

.addPost:hover {
    background-color: rgb(3, 84, 109);

    padding: 12px;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 15px;

}


#update-post-container{
    width: 90%;
    margin:20px auto;
    display: flex;
    justify-content: center;
    
}



@media screen and (max-width: 500px) {
   
}

.updatePost-btn{
    width: 100px;
    padding: 10px;
    background-color: rgb(86, 155, 218);
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 10px;
}

.updatePost-btn:hover{
    background-color: rgb(49, 117, 179);
    transition: 1s;
    cursor: pointer;
}

#update-post-container article >h2{
    color: rgb(184, 86, 86);
}

#updatePost-text{
    padding: 10px;
    margin-bottom: 10px;
}


@media screen and (max-width: 500px) {
    #updatePost-text{
        padding: 0px;
        margin-bottom: 0px;
    }
}

#updatePost-image{
    padding: 10px;
    margin-bottom: 10px;
}


#post-container {
    width: 90%;
    background-color: rgb(91, 122, 124);
    margin: 0 auto;
    padding: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    width: 60%;
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px;
}

.post-header-button {
    display: flex;
    justify-content: space-between;
}


#deleteBtn {
    border: none;
    border-radius: 8px;
    color: white;
    background-color: red;
    padding: 10px;
}

#deleteBtn:hover {
    background-color: rgb(116, 11, 11);
    transition: 1s;
    cursor: pointer;
}

#editBtn {
    border: none;
    border-radius: 8px;
    color: white;
    background-color: rgb(21, 34, 150);
    padding: 10px;

}

#editBtn:hover {
    background-color: rgb(4, 21, 58);
    transition: 1s;
    cursor: pointer;
}


.post-header {
    display: flex;
    align-items: center;
    gap: 5px;

}

.post-user-image img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.post-username {
    margin: 0px;
    color:white;
    font-weight: 700;
}

.post-time {
    color: rgb(211, 211, 211);
    margin: 0px;
    font-size: 12px;
}

.post-image {
    display: flex;
    justify-content: center;

}

.post-image img {
    width: 50%;
    border-radius: 8px;
    margin: 15px;

}

.comment-user-img img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.comment-text-container {
    background-color: rgb(43, 50, 51);
    border-radius: 8px;
    padding: 10px;
    color: white;
}

.comment-text-container h4,
p {
    margin: 0px;
}

.comment-text-container h4 {
    margin-bottom: 5px;
}

.comment {
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
}

.comment-input-holder {
    display: flex;
    gap: 5px;
}

.comment-input-field {
    padding: 10px;
    outline: none;
    border-radius: 5px;
    width: 90%;
}

.comment-btn {
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(13, 187, 218);
    color: white;
    border: none;
}

.comment-btn:hover {
    cursor: pointer;
    transition: 1s;
    background-color: rgb(4, 68, 105);
    
}

.comment-input-field-holder {
    width: 70%;
}